<!doctype html>
<html>
<head><title>Model Comparison</title></head>
<body>
<h2>Compare {{m1}} vs {{m2}}</h2>
<table border="1">
<tr><th>Parameter</th><th>{{m1}}</th><th>{{m2}}</th></tr>
<tr><td>Door width (mm)</td><td>{{model1.door_width}}</td><td>{{model2.door_width}}</td></tr>
<tr><td>Power (kVA)</td><td>{{model1.power_kva}}</td><td>{{model2.power_kva}}</td></tr>
<tr><td>Room height (cm)</td><td>{{model1.room_height}}</td><td>{{model2.room_height}}</td></tr>
</table>
<a href="/">Home</a>
</body>
</html>
